page-menu {
    table {
        margin-top: 10%;
        //background-color: lightseagreen;
        padding-top: 25%;
    }
    .a {
        font-size: 20px;
        color: blue;
    }
    .b {
        font-size: 20px;
        color: blue;
    }
    .c {
        font-size: 20px;
        color: blue;
    }
    b {
        color: black;
    }
   img {
       border-radius: 50%;
       border: 1px solid black;
   }
   h2 {
        font-size: 18px;
    }
    a {
        margin-left: 3%;
    }
   .z {
       margin-top: 35%;
   }
}
